#!/usr/bin/env python
PACKAGE = "range_sensor_layer"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add('enabled',               bool_t, 0, 'Whether to apply this plugin or not', True)
gen.add('phi',                 double_t, 0, 'Phi value', 1.2)
gen.add('no_readings_timeout', double_t, 0, 'No Readings Timeout', 0.0, 0.0)
gen.add('clear_on_max_reading',  bool_t, 0, 'Clear space in front of obtacle', True)
gen.add('footprint_clearing_enabled',  bool_t, 0, 'Clear footprint from obstacles', False)
gen.add('trust_time',  double_t, 0, 'Time of storing obstacle', 5)

exit(gen.generate(PACKAGE, PACKAGE, "RangeSensorLayer"))
